################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AICodeReviewer/bin/Debug/net8.0
/AICodeReviewer/.vs/AICodeReviewer
/AICodeReviewer/obj
